.button {
  background-color: white;
  border: none;
  width: calc(100% - 20px);
  color: rgb(0, 0, 0);
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
}

.button:hover {
  background-color: #ebeef3;
  border-color: #6a81a9;
  color: #6a81a9;
}

.button:focus {
  background-color: #ebeef3;
  border-color: #6a81a9;
  color: #6a81a9;
}
