.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;

  transition: 0.8s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.container {
  display: flex;
  flex-wrap: wrap; /* this */
  gap: 10px;
}

.item-environment {
  height: 140px;
  flex: 200px; /* and this */
}
